{% if fulfillment.item_count == item_count %} 
  {% capture email_title %}Seu pedido está a caminho{% endcapture %}
  {% capture email_body %}Seu pedido está a caminho. Rastreie sua remessa para ver o status de entrega.{% endcapture %}
{% elsif fulfillment.item_count > 1 %} 
  {% if fulfillment_status == 'fulfilled' %}
    {% capture email_title %}Os últimos itens de seu pedido estão a caminho{% endcapture %}
    {% capture email_body %}Os últimos itens de seu pedido estão a caminho. Rastreie a remessa para ver o status de entrega.{% endcapture %}
  {% else %}
    {% capture email_title %}Alguns itens de seu pedido estão a caminho{% endcapture %}
    {% capture email_body %}Alguns itens de seu pedido estão a caminho. Rastreie a remessa para ver o status de entrega.{% endcapture %}
  {% endif %}
{% else %} 
  {% if fulfillment_status == 'fulfilled' %}
    {% capture email_title %}O último item de seu pedido está a caminho{% endcapture %}
    {% capture email_body %}O último item de seu pedido está a caminho. Rastreie a remessa para ver o status de entrega.{% endcapture %}
  {% else %}
    {% capture email_title %}Um item de seu pedido está a caminho{% endcapture %}
    {% capture email_body %}Um item de seu pedido está a caminho. Rastreie a remessa para ver o status de entrega.{% endcapture %}
  {% endif %}
{% endif %}

{% capture email_emphasis %}Data prevista de entrega: <strong>{{fulfillment.estimated_delivery_at | date: format: 'date'}}</strong>{% endcapture %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell { background: {{ shop.email_accent_color }}; border-radius: 200px; }
    a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    .button__text {
      color: black;
    }

    .body {
      background: #f8f6f3;
    }

    .row.footer {
      border-top-width: 0px;
      background: black;
    }

        .disclaimer__subtext {
          color: white;
        }

    .fullfill {
      color: black !important;
    }

        .disclaimer__subtext a {
          color: grey;
        }
        
  </style>
</head>

  <body>

    <table class="body">
      <tr>
        <td>
          <table class="header row">
  <tr>
    <td class="header__cell">
      <center>

        <table class="container">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="shop-name__cell">
                    {%- if shop.email_logo_url %}
                      <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                    {%- else %}
                      <h1 class="shop-name__text">
                        <a href="{{shop.url}}">{{ shop.name }}</a>
                      </h1>
                    {%- endif %}
                  </td>

                    <td>
                      <table class="order-po-number__container">
                        <tr>
                          <td class="order-number__cell">
                            <span class="order-number__text">
                              Pedido {{ order_name }}
                            </span>
                          </td>
                        </tr>
                        {%- if po_number %}
                            <tr>
                              <td class="po-number__cell">
                                <span class="po-number__text">
                                  Número do pedido de compra: {{ po_number }}
                                </span>
                              </td>
                            </tr>
                        {%- endif %}
                      </table>
                    </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

          <table class="row content">
  <tr>
    <td class="content__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              
            <h2>{{ email_title }}</h2>
            <p>{{ email_body }}</p>
            {% if fulfillment.estimated_delivery_at %}
              <p>{{ email_emphasis }}</p>
            {% endif %}
            {% if order_status_url %}
              <table class="row actions">
  <tr>
    <td class="empty-line">&nbsp;</td>
  </tr>
  <tr>
    <td class="actions__cell">
      <table class="button main-action-cell">
        <tr>
          <td class="button__cell"><a href="{{ order_status_url }}" class="button__text">Ver seu pedido</a></td>
        </tr>
      </table>
      {% if shop.url %}
    <table class="link secondary-action-cell">
      <tr>
        <td class="link__cell">ou <a href="{{ shop.url }}">Acesse nossa loja</a></td>
      </tr>
    </table>
{% endif %}

    </td>
  </tr>
</table>

            {% else %}
              {% if shop.url %}
    <table class="row actions">
      <tr>
        <td class="actions__cell">
          <table class="button main-action-cell">
            <tr>
              <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Acesse nossa loja</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
{% endif %}

            {% endif %}
            {% if fulfillment.tracking_numbers.size > 0 %}
  <p class="disclaimer__subtext fullfill">
    <br/>
    {% if fulfillment.tracking_numbers.size == 1 and fulfillment.tracking_company and fulfillment.tracking_url %}
      {{ fulfillment.tracking_company }} número de rastreamento: <a href="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_numbers.first }}</a>
    {% elsif fulfillment.tracking_numbers.size == 1 %}
      Número de rastreamento: {{ fulfillment.tracking_numbers.first }}
    {% else %}
      {{ fulfillment.tracking_company }} números de rastreamento:<br />
      {% for tracking_number in fulfillment.tracking_numbers %}
        {% if fulfillment.tracking_urls[forloop.index0] %}
          <a href="{{ fulfillment.tracking_urls[forloop.index0] }}">
            {{ tracking_number }}
          </a>
        {% else %}
            {{ tracking_number }}
        {% endif %}
        <br/>
      {% endfor %}
    {% endif %}
  </p>
{% endif %}


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

          <table class="row section">
  <tr>
    <td class="section__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              <h3>Itens nesta remessa</h3>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              
            
  <table class="row">
    {% for line in fulfillment.fulfillment_line_items %}
      
<tr class="order-list__item">
  <td class="order-list__item__cell">
    <table>
        {% assign expand_bundles = false %}

      {% if expand_bundles and line.line_item.bundle_parent? %}
        <td class="order-list__parent-image-cell">
          {% if line.line_item.image %}
            <img src="{{ line.line_item | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
          {% else %}
            <div class="order-list__no-image-cell">
              <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="60" height="60" class="order-list__no-product-image"/>
            </div>
          {% endif %}
        </td>
      {% else %}
        <td class="order-list__image-cell">
          {% if line.line_item.image %}
            <img src="{{ line.line_item | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
          {% else %}
            <div class="order-list__no-image-cell">
              <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="60" height="60" class="order-list__no-product-image"/>
            </div>
          {% endif %}
        </td>
      {% endif %}
      <td class="order-list__product-description-cell">
        {% if line.line_item.presentment_title %}
          {% assign line_title = line.line_item.presentment_title %}
        {% elsif line.line_item.title %}
          {% assign line_title = line.line_item.title %}
        {% else %}
          {% assign line_title = line.line_item.product.title %}
        {% endif %}
        {% if line.quantity < line.line_item.quantity %}
          {% capture line_display %}
            {{ line.quantity }} de {{ line.line_item.quantity }}
          {% endcapture %}
        {% else %}
          {% assign line_display = line.line_item.quantity %}
        {% endif %}

        <span class="order-list__item-title">{{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}</span><br/>

        {% if line.line_item.variant.title != 'Default Title' and line.line_item.bundle_parent? == false %}
          <span class="order-list__item-variant">{{ line.line_item.variant.title }}</span><br/>
        {% elsif line.line_item.variant.title != 'Default Title' and line.line_item.bundle_parent? and expand_bundles == false %}
          <span class="order-list__item-variant">{{ line.line_item.variant.title }}</span><br/>
        {% endif %}

        {% if expand_bundles %}
          {% for component in line.line_item.bundle_components %}
            <table>
              <tr class="order-list__item">
                <td class="order-list__bundle-item">
                  <table>
                    <td class="order-list__image-cell">
                      {% if component.image %}
                        <img src="{{ component | img_url: 'compact_cropped' }}" align="left" width="40" height="40" class="order-list__product-image small"/>
                      {% else %}
                        <div class="order-list__no-image-cell small">
                          <img src="{{ 'notifications/no-image.png' | shopify_asset_url }}" align="left" width="40" height="40" class="order-list__no-product-image small"/>
                        </div>
                      {% endif %}
                    </td>

                    <td class="order-list__product-description-cell">
                      {% if component.product.title %}
                        {% assign component_title = component.product.title %}
                      {% else %}
                        {% assign component_title = component.title %}
                      {% endif %}

                      {% assign component_display = component.quantity %}

                      <span class="order-list__item-title">{{ component_display }}&nbsp;&times;&nbsp;{{ component_title }}</span><br>

                      {% if component.variant.title != 'Default Title'%}
                        <span class="order-list__item-variant">{{ component.variant.title }}</span>
                      {% endif %}
                    </td>
                  </table>
                </td>
              </tr>
            </table>
          {% endfor %}
        {% else %}
          {% for group in line.line_item.groups %}
            <span class="order-list__item-variant">Parte de: {{ group.display_title }}</span><br/>
          {% endfor %}
        {% endif %}


        {% if line.line_item.selling_plan_allocation %}
          <span class="order-list__item-variant">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span><br/>
        {% endif %}

        {% if line.line_item.refunded_quantity > 0 %}
          <span class="order-list__item-refunded">Reembolsado</span>
        {% endif %}

        {% if line.line_item.discount_allocations %}
          {% for discount_allocation in line.line_item.discount_allocations %}
            {% if discount_allocation.discount_application.target_selection != 'all' %}
            <p>
              <span class="order-list__item-discount-allocation">
                <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                <span>
                  {{ discount_allocation.discount_application.title | upcase }}
                  (-{{ discount_allocation.amount | money }})
                </span>
              </span>
            </p>
            {% endif %}
          {% endfor %}
        {% endif %}
      </td>
    </table>
  </td>
</tr>

    {% endfor %}
  </table>


            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

           <table class="row footer" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="footer__cell" align="center" style="padding: 20px 0;">
      <table class="container" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <!-- Coluna da imagem -->
          <td align="center" valign="middle" style="padding-right: 30px;">
            <img src="https://cdn.shopify.com/s/files/1/0837/5153/4895/files/Nova_logo_LIQUIDZ_-_White.png?v=1750694576" alt="{{ shop.name }}" width="100" style="display: block;">
          </td>

          <!-- Coluna do texto -->
          <td align="left" valign="middle" style="font-family: sans-serif; font-size: 14px; color: #ffffff;">
            <p class="disclaimer__subtext" style="margin: 0;">Se você tiver alguma dúvida, responda a esta mensagem ou entre em contato conosco pelo e‑mail <a href="mailto:{{ shop.email }}" style="color: grey;">{{ shop.email }}</a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

        </td>
      </tr>
    </table>
  </body>
</html>
